@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

.relative {
  position: relative; 
}

.hover-button {
  display: none;
  position: absolute;
  bottom: -10;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.relative:hover .hover-button {
  display: block;
} */
